body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*  style icons */

.delete:hover {
    color: red;
    cursor: pointer;
}

.edit:hover {
    cursor: pointer;
}

.add:hover {
    cursor: pointer;
}

.confirm {
    color: green;
}

.cancel {
    color: red;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*  navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}